<div class="circle-list-rep mid-width pro-page-width">
    <div class="media-nav">
        <ul>    
            <li ng-class="{ active: isCurrentPath('/circlefeed') }"><a href="/circlefeed">Circle Feeds</a></li>
            <li ng-class="{ active: isCurrentPath('/mycircle') }"><a href="/mycircle">My Circle</a></li>
            <li ng-class="{ active: isCurrentPath('/savedcircle') }"><a href="/savedcircle">Saved</a></li>
        </ul>
    </div>
    <div class="modal-header" style="border-radius:0">
        <h3 class="ng-binding cr-lst"><span class="cir-ico"></span>Cricle list</h3>
        <!--        <div class="cir-bottom-text f-right"
                     rg-ringbox="true" ringbox-controller="CirclePopupController" ringbox-type="remote"
                     ringbox-target="templates/circle-partials/create-circle-popup.html" title="Create New">
                    previous ringbox template : templates/partials/circle-popup.html
                    <span class="cir-ico admin-b"></span>
                    <span class="cr-new">Create New</span>
                </div>-->
        <!--        <div class="add_circle_btn f-right" rg-ringbox="true" ringbox-controller="CirclePopupController" ringbox-type="remote" ring-backdrop-close="false"
                     ringbox-target="templates/circle-partials/create-circle-popup.html" title="Create New Circle">
                    <span class="img_sprite w-h-18px add-new-gr"></span>
                    <h2>Create Circle</h2>
                </div>-->

        <div class="butt bg-orange-white-i float-right btn-m-9-13-0-0">
            <a class="btn-p-5-8" rg-ringbox="true" ringbox-controller="CirclePopupController" ringbox-type="remote" ring-backdrop-close="false"
               ringbox-target="templates/circle-partials/create-circle-popup.html"><i class="img_sprite w-h-18px add-new-gr"></i><span class="butt-text">Create Circle</span></a>
        </div>

        <div class="box-search border-radius-4px float-right width-192" style="margin:9px 12px 5px 12px">
            <span class="img_sprite width-25px height-25px search-icon-25 p-absolute search-icon-p"></span>
            <input  type="text" ng-model="searchText" name="s" placeholder="Search cricle">
        </div>
        <div class="clear"></div>
    </div>
    <!--rg-scrollbar="scrollbar()" style="height: 400px"--> 
    <div class="cir-select-mid"  style="padding-bottom: 100px; min-height: 1000px">
        <div ng-show="getCircles('true').length() < 1 && getCircles('false').length() < 1" class="notification-loader-position">
            <div class="loader-s"><div class="lr1"></div><div class="lr2"></div><div class="lr3"></div> </div>
        </div>
        <div class="c-t-header" ng-show="getCircles('true').length() > 0">CIRCLES YOU MANAGE</div>
        <div class="cir-member-p" ng-repeat="cir in getCircles('true').all()| mapFilter:{mapApi: 'getName', value: searchText}">
            <a  title="{{cir.value.getName()}}" ng-href="{{cir.value.getLink()}}">
                <span class="cir-area"><i class="sprite ico-cir"></i></span>
                <p>
                    <span class="c-t" ng-cloak="true">{{cir.value.getName()}}</span>
                    <span  style="display:block;" ng-cloak="true">{{cir.value.getMembersCount()}} members</span>
                </p>
            </a>
        </div>
        <div class="c-t-header" ng-show="getCircles('false').length() > 0">CIRCLES YOU'RE IN</div>
        <div class="cir-member-p" ng-repeat="cir in getCircles('false').all()| mapFilter:{mapApi: 'getName', value: searchText}">
            <a  title="{{cir.value.getName()}}" ng-href="{{cir.value.getLink()}}">
                <span class="cir-area"><i class="sprite ico-cir"></i></span>
                <p>
                    <span class="c-t" ng-cloak="true">{{cir.value.getName()}}</span>
                    <span  style="display:block;" ng-cloak="true">{{cir.value.getMembersCount()}} members</span>
                </p>
            </a>
        </div>
    </div>
    <!--<div class="cir-head cir-bottom">
           
        </div>-->
</div>
