<div class="album-container border-radius">
    <div class="modal-header">
        <h3>Add Album</h3>
         <!--<span class="icon-close mdl-close"  rg-click="$close()"></span>-->
    </div>
    <div id="content">
        <form action="#" method="post">
            <div  class="pad-0-35">
                <input class="float-left radius input-album" style="" type="text" placeholder="Add an album title" value="" name="">
                <div class="modal-search pad-20-0 float-right">
                    <div class="float-right modal-search-bg">
                        <div class="float-left icon-location album-ico album-lm"></div>
                        <div class="float-left">
                            <div class="album-search album-lm">
                                <input name="q" type="text"  placeholder="Location" />
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="float-right modal-search-bg">
                        <div class="float-left album-up icon-upload album-ico">

                        </div>
                        <div class="float-left">
                            <div class="album-search album-up">
                                <input name="q" type="text"  placeholder="Upload Photo" />
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="album-mid-gallery scrollbar-design">
                <div  class="pad-35-0">
                    <div class="ab_album"><input name="album" placeholder="About Album"></div>
                    <div class="clear"></div>
                    <div class="add-album-area">
                        <a href=""><img  src="images/profile.jpg" alt=""/><div class="album-close icon-close"></div></a>
                    </div>
                    <div class="add-album-area">
                        <a href=""><img  src="images/profile.jpg" alt=""/><div class="album-close icon-close"></div></a>
                    </div>
                    <div class="add-album-area">
                        <a href=""><img  src="images/profile.jpg" alt=""/><div class="album-close icon-close"></div></a>
                    </div>
                    <div class="add-album-area">
                        <a href=""><img  src="images/profile.jpg" alt=""/><div class="album-close icon-close"></div></a>
                    </div>
                    <div class="add-album-area">
                        <a href=""><img  src="images/profile.jpg" alt=""/><div class="album-close icon-close"></div></a>
                    </div>
                    <div class="add-album-area">
                        <a href=""><img  src="images/profile.jpg" alt=""/><div class="album-close icon-close"></div></a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div  class="pad-0-35">
                    <input class="save-button float-left border-radius" type="submit" name="" value="Post">
                    <input class="cancel-button float-right border-radius" type="submit" name="" value="Cancel">
                    <div class="clear"></div>
                </div>
            </div>
        </form>
    </div>
</div>