 <div class="notification-box">
	<div class="notification-title">Notifications</div>
	<div class="clear"></div>
	<ul class="notification scrollbar-design">
		<li class="unread">
			<a href='javascript:void(0);'>
				<div class="left">
					<div class="pic"><img src="images/pro_pic.png"/></div>
				</div>
				<div class="right">
					<p class="main-notification">Yocary Seguacy update her cover photo. </p>
					<p class="time"><i class="img_sprite icon-dt-ico w-h-13"></i> 10 jan, 10:00am</p>
				</div>
				<div class="clear"></div>
			</a>
		</li>
		<li class="notif">
			<div class="left">
				<div class="pic"><img src="images/pro_pic.png"/></div>
			</div>
			<div class="right">
				<p class="main-notification">TK Jani commented your status. </p>
				<p class="time"><i class="img_sprite icon-dt-ico w-h-13"></i> 10 jan, 10:00am</p>
			</div>
			<div class="clear"></div>
		</li>
		<li class="notif">
			<div class="left">
				<div class="pic"><img src="images/pro_pic.png"/></div>
			</div>
			<div class="right">
				<p class="main-notification">Yocary Seguacy likes on Sachin Tendulkar's photo.</p>
				<p class="time"><i class="img_sprite icon-dt-ico w-h-13"></i> 10 jan, 10:00am</p>
			</div>
			<div class="clear"></div>
		</li>
		<li class="notif">
			<div class="left">
				<div class="pic"><img src="images/pro_pic.png"/></div>
			</div>
			<div class="right">
				<p class="main-notification">Yocary Seguacy commented on Sachin Tendulkar's photo.</p>
				<p class="time"><i class="img_sprite icon-dt-ico w-h-13"></i> 10 jan, 10:00am</p>
			</div>
			<div class="clear"></div>
		</li>
		<li class="notif">
			<div class="left">
				<div class="pic"><img src="images/pro_pic.png"/></div>
			</div>
			<div class="right">
				<p class="main-notification">Yocary Seguacy shared on Sachin Tendulkar's photo.</p>
				<p class="time"><i class="img_sprite icon-dt-ico w-h-13"></i> 10 jan, 10:00am</p>
			</div>
			<div class="clear"></div>
		</li>
	</ul>
</div>