<div  class="mar-10px">

    <!-- Profile Album View Start -->
    <div class="profile-media-album mar-0-5 " ng-show="!showAlbumContents"> 
        <div class="friend-header">
            <h2 >
                <span  rg-click="showDesiredTab('music')" ng-class="{'fl-active' : musicTab}">Musics</span>
                <span  rg-click="showDesiredTab('video')" ng-class="{'fl-active' : !musicTab}">Videos</span>
            </h2>
        </div>
        <div class="clear"></div>
        <div style="min-height: 500px; background: #fff" >
            <!--Music -->
            <div class="musics" ng-show="musicTab">
                <div class="music-container margin-0">
                    <div  class="grid-view active">                 
                        <div class="my-album">
                            <div class="full_album-box" ng-repeat="album in getAlbums('audio') | limitTo:limitItem | mediaFilter:'audio' as audioAlbums" ng-click="toggleAlbumPreview(album.value, 'audio')">
                                <div class="music-thumb">
                                    <a  rg-click="toggleAlbumPreview( album.value)" ng-show="profilePage === 'true'">
                                        <img ng-src="{{album.value.getCover()}}" alt="{{album.value.getCover()}}">
                                         <div class="m-icn audio"></div>
                                         <div class="duration">{{song.value.getDuration(true)}}</div>
                                    </a>
                                    <a href="/#/media/audio/{{album.value.getALbumUtId()}}/{{album.value.getKey()}}" ng-show="profilePage === 'false'">
                                        <img ng-src="{{album.value.getCover()}}" alt="{{album.value.getCover()}}">
                                         <div class="m-icn audio"></div>
                                         <div class="duration">{{song.value.getDuration(true)}}</div>
                                    </a>
                                </div>
                                <div class="music-right">
                                    <a title="{{media.value.getCaption()}}">
                                        {{album.value.getName()}}
                                    </a>
                                    <p>
                                        <span class="img_sprite w-h-22px  icon-video-album"></span>
                                        <span class="rg-color">{{album.value.getContentCount()}}</span>
                                        <span class="txt" ng-if="album.value.getContentCount() > 1"> Songs</span>
                                        <span class="txt" ng-if="album.value.getContentCount() === 1"> Song</span>
                                        <span class="txt" ng-show="!album.value.getContentCount()"> Song</span>
                                    </p>
                                </div>
                            </div>
                            <div ng-show="state.albumsLoading" class="full_album-box music-loader-box">
                                <div class="p-area-loader">
                                    <div class="music-box-loader">
                                        <div class="loader-id icon-id-s">
                                            <span class="icon-logo-circle"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p ng-show="!state.showMediaPreview && !state.albumsLoading && audioAlbums.length == 0" style="padding:10px;font-size:13px;text-align:left;">User doesn't have any music album</p>
                            <div ng-show="getAlbums('audio').length > 4 && profilePage === 'false'" class="v-all"><a href="/#/media/audio" ng-click="goToMyAlbums('audio')">View All</a></div>
                        </div>
                    </div>
                </div>



                <div class="clear"></div>
            </div>

            <!-- Videos -->
            <div class="videos" ng-show="!musicTab">
                <div class="music-container margin-0">
                    <div  class="grid-view active">                 
                        <div class="my-album">
                            <div class="full_album-box" ng-repeat="album in getAlbums('video') | limitTo:limitItem | mediaFilter:'video' as videoAlbums" ng-click="toggleAlbumPreview(album.value, 'video')">
                                <div class="music-thumb">
                                    <a  rg-click="toggleAlbumPreview( album.value)" ng-show="profilePage === 'true'">
                                        <img ng-src="{{album.value.getCover()}}" alt="{{album.value.getCover()}}">
                                         <div class="m-icn video"></div>
                                    </a>
                                    <a href="/#/media/video/{{album.value.getALbumUtId()}}/{{album.value.getKey()}}" ng-show="profilePage === 'false'">
                                        <img ng-src="{{album.value.getCover()}}" alt="{{album.value.getCover()}}">
                                         <div class="m-icn video"></div>
                                    </a>
                                </div>
                                <div class="music-right">
                                    <a title="{{media.value.getCaption()}}">
                                        {{album.value.getName()}}
                                    </a>
                                    <p>
                                        <span class="img_sprite w-h-22px  icon-video-album"></span>
                                        <span class="rg-color">{{album.value.getContentCount()}}</span>
                                        <span class="txt" ng-if="album.value.getContentCount() > 1"> Videos</span>
                                        <span class="txt" ng-if="album.value.getContentCount() === 1"> Video</span>
                                        <span class="txt" ng-show="!album.value.getContentCount()"> Video</span>
                                    </p>
                                </div>
                            </div>
                            <p ng-if="!state.showMediaPreview && !state.albumsLoading && videoAlbums.length == 0" style="padding:10px;font-size:13px;text-align:left;">User doesn't have any video album</p>

                            <div ng-show="state.albumsLoading" class="full_album-box music-loader-box">
                                <div class="p-area-loader">
                                    <div class="music-box-loader">
                                        <div class="loader-id icon-id-s">
                                            <span class="icon-logo-circle"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div ng-show="getAlbums('video').length > 4 && profilePage === 'false'" class="v-all"><a href="/#/media/video" ng-click="goToMyAlbums('video')">View All</a></div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
    <!-- Profile Album View End -->

    <!-- Profile Media Preview Start -->
    <div class="profile-album-preview mar-0-10 "  ng-show="showAlbumContents">
        <div class="mediapreview">
            <div class="friend-bg music-container margin-0" ng-if="!showMediaPreview">
                <div class="browse-album grid-view active">
                    <div class="friend-header">
                        <h3   class="dis-inline-blok" rg-click="toggleAlbumPreview()" style="cursor: pointer">Album
                            <span ng-show="activeAlbum"> &#8594; {{activeAlbum.getName()}} {{activeAlbum.getImages().length()}}</span></h3>

                        <div class="ply" style="margin: 13px 20px">
                            <a class="plybtn" ng-show="activeAlbum.getContents().length() > 1"
                               class="music-box" rg-ringbox="true" ring-backdrop-close="false" ringbox-controller="RingBoxMediaController" ringbox-type="remote"
                               ringbox-target="templates/partials/notification/media-popup.html" ringbox-data="getMediaData(true)">
                                Play All
                            </a>
                            <a class="plybtn" ng-show="activeAlbum.getContents().length() > 1" ng-class="{'disable-click': selectedPlaylist.length() == 0}"
                               rg-ringbox="true" ring-backdrop-close="false" ringbox-controller="RingBoxMediaController" ringbox-type="remote"
                               ringbox-target="templates/partials/notification/media-popup.html" ringbox-data="getMediaData(false)">Play Selected</a>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="friends-list">


                        <div class="music-box" ng-repeat="song in activeAlbum.getContents().all()" title="{{song.value.getCaption()}}">
                            <div class="music-thumb">
                                <a  rg-ringbox="true" ring-backdrop-close="false" ringbox-controller="RingBoxMediaController" ringbox-type="remote"
                                    ringbox-target="templates/partials/notification/media-popup.html" ringbox-data="getMediaData(true, song.value)"  ringbox-animation="false">
                                    <img  ng-src="{{song.value.getThumbForMediaOnly()}}" alt="{{song.value.getCaption()}}"/>
                                     <div class="m-icn audio play"></div> <!--  Add condition for audio/video class -->
                                     <div class="duration">{{song.value.getDuration(true)}}</div>
                                </a>                

                                <div class="song-select song-check">
                                    <input type="checkbox" id="{{song.value.getId()}}" ng-change="selectMedia(song.value, status)"  ng-model="status">
                                    <label for="{{song.value.getId()}}" ></label>
                                </div>

                            </div>
                            <div class="music-right"   rg-click="mediaPlayerPopup(albumMap,song)">
                                <a title="{{song.value.getCaption()}}">
                                    {{song.value.getCaption()}}
                                </a>
                                <!--if song-->
                                <p>Album: {{activeAlbum.getName()}}</p>
                                <p class="views-music">{{song.value.getViewCount()}}</p>
                                <p>Duration: {{song.value.getDuration(true)}}</p>
                            </div>
                        </div>

                        <p ng-show="!state.contentsLoading && activeAlbum.getContents().length() == 0" style="padding:10px;font-size:13px;">There is  no {{activeAlbum.getType()}}</p>

                        <div class="music-box no-border">
                            <div ng-show="state.albumsLoading || state.contentsLoading" class="full_album-box music-loader-box" style="margin: 0">
                                <div class="p-area-loader">
                                    <div class="music-box-loader">
                                        <div class="loader-id icon-id-s">
                                            <span class="icon-logo-circle"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="music-box no-border h-5"></div>
                        <div class="music-box no-border" ng-show="state.albumsLoading || state.contentsLoading" ></div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- - Profile Media Preview Start -->
</div>
