body {margin: 0; padding: 0;}
.rg-player {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    position: relative;
    margin: 20px auto 0;
    padding: 0;
    border: 0;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    overflow: hidden;
    font-size: 100%;
    text-shadow: 0 0 0;
    box-sizing: border-box;
    border: 1px solid transparent; 
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.rg-player.full {
    width: 100% !important;
    height: 100% !important;
}
.rg-player .container {
    position: absolute;
    background-color: #000;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.rg-player .container .big-play {
    position: absolute;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    text-align: center;
    z-index: 999;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: -46px;
    background: rgba(3,3,3,0.75);
    border-radius: 50%;
    border: 1px solid #fff;
    vertical-align: middle;
}
.rg-player .container .big-play span {
    text-align: center;
    font-size: 27px;
    margin-top: 17px;
    display: inline-block;
    margin-left: 1px;
}

.rg-player .container .play-info {
    color: #8C8C8C;
    display: block;
    font-size: 12px;
    font-style: italic;
    left: -24px;
    position: absolute;
    text-align: left;
    top: 4px;
    width: 100%;
    -webkit-animation: marquee 25s linear infinite;
    animation: marquee 25s linear infinite;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: running; 
    animation-play-state: running;
    z-index:1;
}

.control-btn{outline: none;}
.player-debug{
    display: none;
    position: absolute;
    background: white;
    width: 165px;
    color: #333;
    top: 0px;
    right: 0px;
    padding: 5px;
    text-align: left;
}

.rg-player .container .play-info:hover{
    -webkit-animation-play-state: paused; 
    animation-play-state: paused;
}

@-webkit-keyframes marquee {
    0%  {
        transform:translateX(100%);
    }
    100% {
        transform:translateX(-100%);
    }
}

@-moz-keyframes marquee {
    0%  {
        transform:translateX(100%);
    }
    100% {
        transform:translateX(-100%);
    }

}

@-ms-keyframes marquee {
    0%  {
        transform:translateX(100%);
    }
    100% {
        transform:translateX(-100%);
    }

}

@keyframes marquee {
    0%  {
        transform:translateX(100%);
    }
    100% {
        transform:translateX(-100%);
    }
}


.rg-player .container .play-error {
    position: absolute;
    margin: 0 auto;
    width: 90%;
    height:100px;
    text-align: center;
    z-index: 999;
    top: 50%;
    left: 0;
    margin-top: -50px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

.rg-player .container .play-error a { 
    color: #F47725
}

.rg-player .container .loader {
    position: absolute;
    margin: 0 auto;
    width: 70px;
    text-align: center;
    z-index: 999;
    top: 50%;
    margin-top: -8px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.rg-player .container .loader > div {
    width: 14px;
    height: 14px;
    background-color: #f37726;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.rg-player .container .loader > div.circle1 {
    -webkit-animation-delay: -.32s;
    animation-delay: -.32s;
}
.rg-player .container .loader > div.circle2 {
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s;
}

.rg-player .container .player-poster {
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 998;
    top: 0;
    left: 0;
    pointer-events: none;
}
.rg-player .container .player-poster img.poster {
    display: none;
    opacity: 0.5;
    max-width: 100%;
    max-height: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.rg-player .media-control {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    pointer-events: none;
    -webkit-transition: opacity .1s ease;
    transition: opacity .1s ease;
}

.rg-player .media-control .media-tip {
    position: absolute;
    white-space: nowrap;
    width: auto;
    height: 20px;
    line-height: 20px;
    bottom: 45px;
    background-color: #353535;
    z-index: 9999;
    -webkit-transition: opacity .1s ease;
    transition: opacity .1s ease;
    opacity: 1;
    padding: 4px;
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    display: none;
}


.audio .media-control .media-control-bg {

    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(32,32,32,1) 100%)!important; 
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(32,32,32,1) 100%)!important; 
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(32,32,32,1) 100%)!important; 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#202020',GradientType=0 )!important; 

    -webkit-transition: opacity .6s ease-out;
    transition: opacity .6s ease-out; 
}
.rg-player .media-control .media-control-bg {
    position: absolute;
    height: 50px;
    width: 100%;
    bottom: -1px;
    opacity:1;
    background: rgba(0,0,0,0);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
    -webkit-transition: opacity .6s ease-out;
    transition: opacity .6s ease-out;
}

.rg-player .media-control .media-control-layer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 32px;
    vertical-align: middle;
    pointer-events: auto;
    -webkit-transition: bottom .4s ease-out;
    transition: bottom .4s ease-out;
}

.rg-player .media-control .media-control-layer .bar-panel {
    height: 100%;
    text-align: center;
    line-height: 32px;
}

.rg-player .media-control .media-control-layer .bar-panel .bar-container{
    position: absolute;
    top: -17px;
    left: 0;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 25px;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.rg-player .media-control .media-control-layer .bar-panel .bar-container .bar-background{
    width: 100%;
    height: 1px;
    position: relative;
    top: 12px;
    background-color: #666;
}

.rg-player .media-control .media-control-layer .bar-panel .bar-container .bar-background .bar-fill-1{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #c2c2c2;
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
}

.rg-player .media-control .media-control-layer .bar-panel .bar-container .bar-background .bar-fill-2{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #F37726;
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
}
.rg-player .media-control .media-control-layer .bar-panel .bar-container .bar-background .bar-hover{
    opacity: 0;
    position: absolute;
    top: -3px;
    width: 5px;
    height: 7px;
    background-color: hsla(0,0%,100%,.5);
    -webkit-transition: opacity .1s ease;
    transition: opacity .1s ease;
}  

.rg-player .media-control .media-control-layer .bar-panel .bar-container .bar-scrubber{
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    opacity: 1;
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
} 

.rg-player .media-control .media-control-layer .bar-panel .bar-container .bar-scrubber .bar-scrubber-icon{
    position: absolute;
    left: 6px;
    top: 6px;
    width: 8px;
    height: 8px;
    border-radius: 10px;
    box-shadow: 0 0 0 6px hsla(0,0%,100%,.2);
    background-color: #F37726;
} 

.rg-player .media-control .media-control-layer .bar-panel .bar-container .seek-time{
    position: absolute;
    white-space: nowrap;
    width: auto;
    height: 20px;
    line-height: 20px;
    left: -100%;
    bottom: 25px;
    background-color: rgba(2,2,2,.5);
    z-index: 9999;
    -webkit-transition: opacity .1s ease;
    transition: opacity .1s ease;
    opacity:0;
}

.rg-player .media-control .media-control-layer .bar-panel .bar-container .seek-time .timer{
    position: relative;
    color: #fff;
    font-size: 10px;
    padding-left: 7px;
    padding-right: 7px;
}

.rg-player .media-control .media-control-layer .bar-panel .bar-container:hover .bar-hover {
    opacity: 1;
} 
.bar-container.down .bar-hover{
    opacity: 0 !important;
}

.rg-player .media-control .media-control-layer .bar-panel .bar-container:hover .seek-time {
    opacity: 1;
} 

.rg-player .media-control .media-control-layer .control-left{
    position: absolute;
    top: 0;
    left: 4px;
    height: 100%;
}

.rg-player .media-control .media-control-layer .control-left .play-btns {
    float: left;
    display: inline-block;
    height: 32px;
    cursor: pointer;
    margin: 0 6px;
    box-sizing: border-box;
}

.rg-player .media-control .media-control-layer .control-left button{
    background-color: transparent;
    border: 0;
    margin: 0 6px;
    padding: 0;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    height: 32px;
    text-shadow: 0px 0px 4px black;
}

.rg-player .media-control .media-control-layer .control-left button.disabled {
    opacity: 0.4;
}

.rg-player .media-control .media-control-layer .control-left button.paused{
    float: left;
    height: 100%;
    font-size: 20px;
}
.rg-player .media-control .media-control-layer .control-left .time-indicator{
    display: inline-block;
    font-size: 11px;
    color: #FFFFFF;
    cursor: default;
    line-height: 32px;
    position: relative;
    text-shadow: 0px 0px 3px black;
}

.rg-player .media-control .media-control-layer .control-left .volume-bar {
    float: left;
    display: inline-block;
    height: 32px;
    cursor: pointer;
    margin: 0 6px;
    box-sizing: border-box;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.rg-player .media-control .media-control-layer .control-left .volume-bar .volume-icon {
    speak: none;
    opacity: 1;
    /*  
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-transition: all .1s ease;
        transition: all .1s ease;*/
    float: left;
}

.rg-player .media-control .media-control-layer .control-left .volume-bar .volume-bar-container {
    float: left;
    position: relative;
    top: 6px;
    width: 60px;
    height: 18px;
    padding: 4px 0;
    overflow: hidden;
    -webkit-transition: width .2s ease-out;
    transition: width .2s ease-out;
}

.rg-player .media-control .media-control-layer .control-left .volume-bar .volume-bar-container .bar {
    float: left;
    width: 4px;
    padding-left: 2px;
    height: 12px;
    opacity: .5;
    box-shadow: inset 2px 0 0 #fff;
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
}
.rg-player .media-control .media-control-layer .control-left .volume-bar .volume-bar-container .bar:hover {
    -webkit-transform: scaleY(1.5);
    -ms-transform: scaleY(1.5);
    transform: scaleY(1.5);
}

.rg-player .media-control .media-control-layer .control-left .volume-bar .volume-bar-container .fill {
    opacity: 1;
    box-shadow: inset 2px 0 0 #f47727;
}

.rg-player .media-control .media-control-layer .control-right{
    position: absolute;
    top: 0;
    right: 4px;
    height: 100%;
}

.rg-player .media-control .media-control-layer .control-right button{
    float: left;
    background-color: transparent;
    border: 0;
    height: 100%;
    color: #9A9A9A;
    cursor: pointer;
    text-shadow: 0px 0px 3px black;
}

.rg-player .media-control .duration{
    display:block;
}
.audio .rg-player .media-control .media-control-layer .control-right button.hd, .audio .rg-player .media-control .media-control-layer .control-right button.auto, .audio .rg-player .media-control .media-control-layer .control-right button.full-screen {
    background: #2e2e2e !important;
    border: 1px solid #2e2e2e !important;
    -webkit-box-shadow: inset 0px 0px 0px 1px rgb(0, 0, 0)!important;
    -moz-box-shadow: inset 0px 0px 0px 1px rgb(0, 0, 0)!important;
    box-shadow: inset 0px 0px 0px 1px rgb(0, 0, 0)!important;
}
.rg-player .media-control .media-control-layer .control-right button.hd, .rg-player .media-control .media-control-layer .control-right button.auto, .rg-player .media-control .media-control-layer .control-right button.full-screen {

    border-radius: 4px;
    height: 20px;
    background-color: rgba(126, 126, 126, 0.3);
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.4);
    margin: 6px 4px;
    padding: 8px;
    box-shadow: inset 0 0 0 1px #000!important;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0); }
    40% { -webkit-transform: scale(1.0); }
}

@-moz-keyframes bouncedelay {
    0%, 80%, 100% { -moz-transform: scale(0.0); }
    40% { -moz-transform: scale(1.0); }
}

@-ms-keyframes bouncedelay {
    0%, 80%, 100% { -ms-transform: scale(0.0); }
    40% { -ms-transform: scale(1.0); }
}

@keyframes bouncedelay {
    0%, 80%, 100% { transform: scale(0.0); }
    40% { transform: scale(1.0); }
}


.rg-player .media-control .media-control-layer .control-left .time-total:before {
    content: '/';
    width: 5px;
    display: inline-block;
    margin-left: 2px;
}

.music-bars {
    height: 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    vertical-align: bottom;
    width: 110px;
    background: black;
    z-index: 5;
    margin-left: -55px;
    margin-top: -15px;
}
.music-bars span:nth-child(1), .music-bars span:nth-child(11) {
    -webkit-animation: loading 2.50s infinite;
    animation: loading 2.50s infinite;
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}
.music-bars span:nth-child(2), .music-bars span:nth-child(12) {
    -webkit-animation: loading 2.50s infinite;
    animation: loading 2.50s infinite;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.music-bars span:nth-child(3), .music-bars span:nth-child(13) {
    -webkit-animation: loading 2.50s infinite;
    animation: loading 2.50s infinite;
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
}
.music-bars span:nth-child(4), .music-bars span:nth-child(14) {
    -webkit-animation: loading 2.50s infinite;
    animation: loading 2.50s infinite;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.music-bars span:nth-child(5), .music-bars span:nth-child(15) {
    -webkit-animation: loading 2.50s infinite;
    animation: loading 2.50s infinite;
    -webkit-animation-delay: 1.25s;
    animation-delay: 1.25s;
}
.music-bars span:nth-child(6), .music-bars span:nth-child(16) {
    -webkit-animation: loading 2.50s infinite;
    animation: loading 2.50s infinite;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
.music-bars span:nth-child(7), .music-bars span:nth-child(17) {
    -webkit-animation: loading 2.50s infinite;
    animation: loading 2.50s infinite;
    -webkit-animation-delay: 1.75s;
    animation-delay: 1.75s;
}
.music-bars span:nth-child(8), .music-bars span:nth-child(18) {
    -webkit-animation: loading 2.50s infinite;
    animation: loading 2.50s infinite;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
.music-bars span:nth-child(9), .music-bars span:nth-child(19) {
    -webkit-animation: loading 2.50s infinite;
    animation: loading 2.50s infinite;
    -webkit-animation-delay: 2.25s;
    animation-delay: 2.25s;
}
.music-bars span:nth-child(10), .music-bars span:nth-child(20) {
    -webkit-animation: loading 2.50s infinite;
    animation: loading 2.50s infinite;
    -webkit-animation-delay: 2.50s;
    animation-delay:  2.50s;
    margin-right: -4px;
}
.music-bars span {
    background-color: #fff;
    border-top: 3px solid #333;
    display: inline-block;
    height: 25px;
    margin-left: 4px;
    vertical-align: bottom;
    margin-right: 0;
    padding: 0;
    width: 1px;
}


@keyframes loading {
    0% {
        border-top-color: #d13632;
    }
    11% {
        border-top-color: #e2571e;
    }
    22% {
        border-top-color: #E09128;
    }
    33% {
        border-top-color: #ffe400;
    }
    44% {
        border-top-color: #7dd132;
    }
    50% {
        height: 10px;
    }
    55% {
        border-top-color: #32D152;
    }
    66% {
        border-top-color: #32d15b;
    }
    77% {
        border-top-color: #32bcd1;
    }
    88% {
        border-top-color: #323ad1;
    }
    99% {
        border-top-color: #cb32d1;
    }
    100% {
        border-top-color: #cb32d1;
    }
}

@-webkit-keyframes loading {
    0% {
        border-top-color: #d13632;
    }
    11% {
        border-top-color: #e2571e;
    }
    22% {
        border-top-color: #E09128;
    }
    33% {
        border-top-color: #ffe400;
    }
    44% {
        border-top-color: #7dd132;
    }
    50% {
        height: 10px;
    }
    55% {
        border-top-color: #32D152;
    }
    66% {
        border-top-color: #32d15b;
    }
    77% {
        border-top-color: #32bcd1;
    }
    88% {
        border-top-color: #323ad1;
    }
    99% {
        border-top-color: #cb32d1;
    }
    100% {
        border-top-color: #cb32d1;
    }
}
/* playlist*/
.playlist-scrollbar-wrapper {height:100%;}
.playlist-scrollbar {height:100%;}
.playlist-wrapper {
    position: absolute;
    right: 0;
    z-index: 9999;
    width: 250px;
    height: calc(100% - 110px);
    bottom: 45px;
    -webkit-transition: right .3s ease-out;
    transition: right .3s ease-out;
}
.audio .playlist-wrapper {
    background: none !important;
    box-shadow: none;
}

.playlist-wrapper .playlist {
    width: 100%;
    opacity: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.audio .playlist-wrapper .playlist li {
    background: #131313;
}   
.playlist-wrapper .playlist li {
    position: relative;
    margin-bottom: 0px;
    display: inline-block;
    border: 1px solid #353535;
    width: 98%;
    background-color: rgba(19,19,19,0.5);
}
.playlist-wrapper .playlist li a {
    border: 1px solid transparent;
    display: block;
    position: relative;
    color: #fff;
    outline: none;
    text-decoration: none;
    text-align: left;
    height: 45px;
}
.audio .playlist-wrapper .playlist li a {
    color: #8d8d8d !important;
}
.playlist-wrapper .playlist li a span.list-thumb {
    width: 35px;
    display: block;
    float: left;
    padding: 5px;
    margin-right: 5px;
    height: 35px;
    font-size: 18px;
}

.audio .playlist-wrapper .playlist li a span.list-thumb img {
    width: 35px;
    height: 35px;
}
.playlist-wrapper .playlist li a span.list-thumb img {
    width: 30px;
    height: 36px;
}
.playlist-wrapper .playlist li a span.list-title {
    display: block;
    float: left;
    overflow: hidden;
    width: 175px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
    padding: 5px 0px;
    height: 35px;
    font-weight: 300;
    color: #fff;
}
.playlist-wrapper .playlist li a span.list-title:hover, .playlist-wrapper .playlist li a span.list-title:active {
    color: #f47727;
}
.audio .playlist-wrapper .playlist li a span.list-title {
    color: #FFFFFF !important;
}
.playlist-wrapper .playlist li a span.list-title b {
    display: block;
    font-size: 11px;
    color: #D8D8D8;
}
.audio .playlist-wrapper .playlist li a span.list-title b {
    color: #F1F1F1 !important;
}
.audio .playlist-wrapper .playlist li:hover a span {
    color: #f47727 !important;   
}
.playlist-wrapper .playlist li a:hover, .playlist-wrapper .playlist li a.active {
    color: #f47727 !important;
    border: 1px solid #f47727;
}
.rg-player .media-control .media-control-layer button {
    font-size: 15px;
    color: #fff;
}
.rg-player .media-control .media-control-layer button.icon-minimize {
    font-size: 12px;
}
.rg-player .media-control .icon-minimize{
    border-radius: 4px;
    padding: 0px 2px;
    height: 20px !important;
    margin-top: 6px;
    font-size: 13px;
    background: #2e2e2e !important;
    border: 1px solid #2e2e2e !important;
    -webkit-box-shadow: inset 0px 0px 0px 1px rgb(0, 0, 0)!important;
    -moz-box-shadow: inset 0px 0px 0px 1px rgb(0, 0, 0)!important;
    box-shadow: inset 0px 0px 0px 1px rgb(0, 0, 0)!important;
}
.rg-player .media-control .media-control-layer .control-right button.enbled {
    color: #f47727;
}
.rg-player .media-control .media-control-layer button.icon-pause-p {
    background-position: -71px 0;
    height: 15px;
    margin-top: 8px;
}
.rg-player .media-control .media-control-layer button.icon-play-p {
    background-position: -27px 0;
    height: 17px;
    margin-top: 6px;
}
.rg-player video {
    width: 100%;
    height: 100%;
}

.rg-player.full video {
    width: 100% !important;
}

.ringid-logo {
    position: absolute;
    bottom: 50px;
    right: 10px;
    background: url(../images/ring-logo-circle.png);
    width: 60px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: 99999;
}

.rg-player .container.hover .ringid-logo{
    opacity: 1;
    -webkit-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out;
}

.player-sprite{
    background-image: url(../images/player-icon.png);
    display:inline-block;
    width:14px;
    height:17px;
}
.rg-player .container .big-play  span.icon-player{
    background-position:-27px 0;
    margin-top: 21px;
    width:13px;
} 
.rg-player .container .big-play  span.icon-reload-p{
    background-position:-14px 0;
}
.icon-speaker-fill{
    background-position:-40px 0;
    width:13px;
    margin-top:6px;
}
.icon-speaker-m{
    background-position:-88px 2px;
    width:13px;
    margin-top:6px;
}
.icon-screen-f{
    background-position:-51px -2px;
}
.icon-screen-fe{
    background-position:-118px -2px;
}
.header {
    display: block;
    height: 70px;
    background-color: #f8f8fa;
    width: 100%;
    box-shadow: 2px 3px 15px #D8D8D8;
    text-align: center;
}
.header img {
    height: 100%;
}
.footer {
    background: url('../images/slider_bg.png');
    background-position: left bottom;
    background-repeat: repeat-x;
    width: 100%;
    height: 110px;
    position: fixed;
    bottom: 0;
    z-index: 1;
}
.right-bg-login {
    background: url('../images/right_bg.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    width: 40%;
    height: 135px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.left-bg-login {
    background: url('../images/left_bg.png');
    background-position: left bottom;
    background-repeat: no-repeat;
    width: 40%;
    position: absolute;
    z-index: 1;
    height: 100px;
    left: 0;
    bottom: 0;
}
 #embded {
   margin-bottom: 5px;
   z-index: 2;
   position: relative;
}

.video-info {
    font-family: helvetica, arial, sans-serif;
    margin: 0 auto;
}

.video-info h3.title {
    font-size: 20px;
    color: #222;
    font-weight: normal;
    font-family: helvetica, arial, sans-serif;
    margin-bottom: 5px;
}

.video-info p.views {
    margin: 5px 0;
    font-size: 17px;
    color: #888;
}

div.download-info {
    font-size: 20px;
    font-family: helvetica, arial, sans-serif;
    display: block;
    text-decoration: none;
    color: #222;
    margin: 30px auto;
}

div.download-info a {
    color: #f47727;
    text-decoration: none;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 680px) {
  .rg-player .media-control .media-control-layer .control-left .volume-bar .volume-icon {
     margin-right: 4px;
     height: 24px;
  }

  button.start-btn { 
    height: 22px !important;
    background-repeat: no-repeat;
  }
}

.songs h3,.songs p{margin:0;font-family: helvetica, arial, sans-serif;font-weight: normal;}
.play-ico-s {
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    background-color: rgba(215, 215, 215, 0.5);
    border: 2px solid #ffffff;
    border-radius: 100%;
    cursor: pointer;
    height: 30px;
    left: 50%;
    margin-left: -17px;
    margin-top: -17px;
    position: absolute;
    top: 50%;
    width: 30px;
    z-index: 1;
}
.play-btn-s {
    border-bottom: 10px solid transparent;
    border-left: 13px solid #fff;
    border-top: 10px solid transparent;
    content: "";
    display: block;
    height: 0;
    margin: 6px 0 0 11px;
    position: absolute;
    width: 0;
}

ul.songs{
    padding: 0;
    margin: 15px auto;
    border-top: 1px solid #eaeaea;
    padding-top: 10px;
}
ul.songs li{
    margin: 5px 0;
    border: 1px solid #eaeaea;
    list-style: none;
    cursor: pointer;
    position: relative;
    text-align: left;
    background-color: #fdfdfd;
    line-height: 1.5;
    font-weight: 400;
    font-size:14px;
    height:116px;

}
ul.songs li a {
    text-decoration: none;
    color: #222;
}

ul.songs .left-thumb{
    width:200px;
    height:100%;
    border-right:1px solid #e6e7e6;
    position:relative;
    margin-right:10px; 
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float:left;
}
ul.songs li h3{
    padding-top:3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 15px;
}
ul.songs li p{    
    padding-top: 3px;
    color: #535353;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 15px;
}

@media screen and (max-width: 400px) {
    ul.songs li{
      height:80px;
    }    
    ul.songs .left-thumb{
        width:120px;
    }
}

@media screen and (max-width: 800px) {
    ul.songs li{
      height:90px;
    }    
    ul.songs .left-thumb{
        width:150px;
    }
}