<div class="pt-box feed-location-container view-map-w {{ viewDirection}}">
    <div class="pt-top">
        <span class="float-right showpointer icon-close post-drop" ng-click="close()"></span>
    </div>
    <div class="pt-middle w-392">
        <div class="location-search">                        
            <i class="icon-search"></i>
            <input type="text" value="{{::keywords}}"  rg-key-up="processKeyup"  placeholder="Search..." />
        </div>
        <div class="clear"></div>
        <div>
            <div ng-show="loadingData">
                <div class="feedloader"> 
                    <div class="loader-id icon-id-s">
                        <span class="icon-logo-circle"></span>
                    </div>
                </div>
            </div>
            <ul class="items" rg-scrollbar="scrollbar()" style="max-height: 180px;">
                <li class="feed-location-item showpointer" data-ng-repeat="location in suggestedLocations" ng-show="!!location.geometry">
                <feed-location-view-item
                    on-select="onLocationItemSelect(location)"
                    on-hover="onLocationItemHover(location)"
                    location="location" >
                </feed-location-view-item>
                </li>
            </ul>
        </div>
        <div id="feed-location-map-container" >
            <div style="height:200px;margin-top:5px;" class="w-392" id="feed-location-map" ></div>
        </div>
    </div>
</div>
