<div class="dashboard-bg  mid-width pro-page-width" ng-controller="businessProfileController">
    <div class="notification-loader-position" ng-show="! businessMap" style="top: 0 !important;">
        <div class="loader-s">
            <div class="lr1"></div>
            <div class="lr2"></div>
            <div class="lr3"></div>
        </div>
    </div>

    <div class="middle" ng-if="businessMap">
        <div class="profile news-pro-wrap">
            <div style="position:relative;z-index: 1;background-size:cover;background-position:0px 0px;max-height: 250px;" id="coverPhoto" class="noselect cover-photo news-cover">
                <div style="display:inline-block;width:100%;height:auto;">
                    <div class="pr-pos-w-s" style="bottom: 50px;">
                        <div class="profile-shape-cover" style="position:relative;">
                            <div class=" img_sprite profile-shape-ico left-shape-ico-pro pids-logo">
                                <div class="profile-pic" style="background-image:url({{businessMap.getProfileImage()}});"></div>
                            </div>
                            <div class="profile-shape" style="top: 0;">
                                <div class="opacity-background">
                                    <div class="online-box-area">
                                        <div class="online-border-left-side">

                                        </div>
                                    </div>
                                    <div class="text-of-background"></div>
                                </div>
                                <div class="text-online-status">
                                    <span class="p-id-text name_of_profile" ng-cloak="true">{{businessMap.getFullName()}}</span>
                                    <div class="clear"></div>
                                    <span class="p-id-text name_of_profile ng-binding" ng-cloak="true">{{businessMap.getSlogan()}}</span>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                    <div class="cover-btn" style="z-index:100" ng-cloak>
                        <div class="cover-follow-btn" ng-if="!businessMap.isSubscribed()"
                             rg-ringbox="true"
                             ringbox-controller="businessFollowController"
                             ringbox-target="templates/newsportal/portal-follow.popup.html"
                             ringbox-type="remote" 
                             ringbox-data="getPortalCatList(businessMap)">
                            +Follow
                        </div>
                        <div rg-dropdown="dropdown()"  dd-html="ddActionHtml"
                                dd-control="{portal:businessMap}" dd-action="actionFollowingDropdown">
                                <div class="cover-follow-btn drop-h" ng-if="businessMap.isSubscribed()">
                            Following
                                <span class="drop-sprite feed-font arrow-d news-arrow w-h-13"></span>
                        </div>
                            
                        </div>
                        
                    </div>-->
                    
                    
                    
                    <div class="btn-bg-w buttdr border-gray-orange float-right btn-m-l-8 p-absolute bottom-90 right-50"  ng-cloak>
                        <!-- <a class="btn-p-5-8"  ng-if="!businessMap.isSubscribed()"
                             rg-ringbox="true"
                             ringbox-controller="businessFollowController"
                             ringbox-target="templates/newsportal/portal-follow.popup.html"
                             ringbox-type="remote" 
                             ringbox-data="getPortalCatList(businessMap)">
                            <b class="btn-m-r-0 friend-ico cir-joined-icon"></b>
                            <span class="butt-text">Follow</span>
                        </a> -->
                        <a class="btn-p-5-8"  ng-if="!businessMap.isSubscribed()" rg-click="followPage(businessMap)">
                            <b class="btn-m-r-0 friend-ico cir-joined-icon"></b>
                            <span class="butt-text">Follow</span>
                        </a>
                        
                        <a class="btn-p-5-8"  ng-if="businessMap.isSubscribed()" rg-dropdown="dropdown()"  dd-html="ddActionHtml"
                                dd-control="{portal:businessMap}" dd-action="actionFollowingDropdown">
                            <b class="btn-m-r-0 friend-ico correct"></b>
                            <span class="butt-text">Following</span>
                            <b class="btn-m-r-0 friend-ico down-fb-arrow"></b>
                        </a>
                    </div>
                    
                    
                </div>
                <div class="profile-menu-box news-count-warp" ng-cloak>
                    <span ng-cloak="true">{{ businessMap.getFollowerCountWithText() }}</span>
                </div>
            </div> 
        </div>
        <div ng-include src="'templates/business/business-feed.html'"  rg-feed-subscriber>
        </div>
    </div>
</div>
