            <div id="password-settings" ng-class="{'dis-none': activeNav !== 'password'}" ng-if="isOwner">
                <!--<div class="ppinfo-action" ng-if="isOwner"><span class="img_sprite w-h-13 icon-edit-p-h" rg-click="enablePassEdit($event)"></span><a href="#"  rg-click="enablePassEdit($event)">Change</a></div>-->

                 <div class="butt border-gray-orange float-right btn-m-l-8"  ng-if="isOwner">
                    <a class="btn-p-5-8"  rg-click="enablePassEdit($event)" ng-show="!showPassEdit">
                        <i class="friend-ico edit-btn-icon"></i>
                        <span class="butt-text">Change</span>
                    </a>
                </div>

                
                
                <div class="view pad-80-50" ng-show="showMessage">
                    <div class="pass-change">
                        <div class="no-edu-icon"></div>
                        <div class="pass-txt">To change your password, please click on <br/>change button on the top right<br/> of this box</div>
                    </div>
                </div>
    
                <div class="edit pad-80-0">
                    <div ng-show="IsMatch" style="color: red;">New passwords have to match! Please try again!!</div>
                    <!-- <div ng-show="showSuccess" style="color: #008000;">Password changed successfully!!</div> -->
                    <div ng-show="oldError" style="color: red;">{{failMessage}}</div>
                    <div class="clear"></div>

                    <form name="passForm">
                        <div ng-if="showPassEdit">
                            <div class="ppinfo">
                                <div class="left">Old Password:</div>
                                <div class="right">
                                    <input type="password" name="oldp" ng-model="changepass.oldpassword" required />
                                </div>
                            </div>
                            <div class="ppinfo">
                                <div class="left">New Password:</div>
                                <div class="right">
                                    <input type="password" name="newp" ng-model="changepass.newpassword" ng-minlength="6" required />
                                    <span style="color:red" ng-show="passForm.newpass.$error.minlength">Minimum 6 Characters</span>
                                </div>
                            </div>
                            <div class="ppinfo">
                                <div class="left">Retype Password :</div>
                                <div class="right">
                                    <input type="password" name="repass" ng-model="changepass.repassword" required />
                                </div>
                            </div>
                            <div class="ppinfo">
                                <div class="pp-btn">
                                    <input class="pro-edit-btn" type="button" name="" value="{{consType.update}}" ng-disabled="passForm.$invalid"   rg-click="updatePassword()"/>
                                    <input class="pro-edit-btn" type="button" name="" value="{{consType.cancel}}" rg-click="cancelUpdatePassword()"/>
                                </div>
                            </div>
                        </div>
                    </form>
                    
                </div>



            </div>
