<div class="sti-con">
    <div class="sti-h">
        <div class="icon-close sti-close sti-pos" ng-click="close($event)"></div>
    </div>
    <div id="content">
        <form action="#" method="post">
            <div  class="sti-banner bg-none">
                <img src="images/sticker/sti-banner.png" class="responsive-all">
            </div>
            <div class="sti-mid scrollbar-design" rg-scrollbar="scrollbar()">
                <div  class="sti-mid-in">
                    <div class="css3-tabstrip">
                        <ul>
                            <rg-sticker-category-list categories="stickerCategories" class="sticker-category-list-container" ></rg-sticker-category-list>
                            <rg-sticker-collection-list collections="stickerCollections" class="sticker-collection-list-container"></rg-sticker-collection-list>
                        </ul>
                    </div>
                </div>
            </div>

        </form>

    </div>
    <div  class="sti-f">

    </div>
</div>

