body{font-family: "Roboto",sans-serif; font-weight: normal; font-style: normal; margin: 0; padding: 0;}
h2{margin: 10px 0px;}
h3{margin: 8px 0px;}
li{list-style: square}
p{font-size: 1em; line-height: 1.4em; margin: 15px 0}
.mobile-apps-main{padding: 10px 15px; text-align: justify}
.txt_justify{text-align: justify; padding: 25px; font-size: 1.2em; line-height: 1.4em; color:#3f3e3e}
span.ring-color{color:#f77727;text-transform: none;}
.panel-title {
    background-color: #f7f7f7;
    border: 1px solid #e2e2e2;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin: 4px 0;
    padding: 7px 15px;
}
.panel-title a {
    color: #000000;
    text-decoration: none;
}
.panel-body {
    -webkit-transition: height 0s;
    -moz-transition:all linear 0s;
    -o-transition:all linear 0s;
    -ms-transition:all linear 0s;
    transition: height 0s;
    opacity:1;
    border: 1px solid #eeeeee;
}
.padding-10 {
    padding: 10px;
}