<div class="clear"></div>
<div class="emotion-box tag-edi-fri" ng-hide="users.length < 1 && filterText" style="margin-top:8px;margin-left:1px;">
    <!--      
          <div class="em-top">
              <span class="emotion-title">Select Friend For Tagging!</span>
            <span class="float-right showpointer icon-close post-drop" ng-click="close()"></span>
        </div>
    -->
    <div class="pt-middle">
        <div class="clear"></div>
        <div class="friend-req-scroll-wrapper">
            <ul class="emotion" rg-scrollbar="scrollbar()" bottom-reached="lodeMore()">
                <li class="unread" ng-repeat="usr in users track by usr.key" ng-init="user=usr.value" ng-class="{active:$index == activeId}" ng-mouseenter="setActiveId($index)">
                    <!-- show feed image popup -->
                    <a ng-click="choose(user, $event)" >

                        <div class="left">
                            <div class="pic"><img ng-src="{{::user.avatar()}}"/></div>
                        </div>
                        <div class="right">
                            <p class="emotion-txt" ng-cloak="true">{{::user.getName()}}</p>
                        </div>
                        <div class="clear"></div>
                    </a>

                </li>

            </ul>
            <div ng-show="loading" class="notification-loader-position">
                <div class="loader-s"><div class="lr1"></div><div class="lr2"></div><div class="lr3"></div> </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
