<div class="news-pro-wrap mar-0-5" >

    <div ng-if="isCalled">
        <div class="no-suggest mb25">
            <p ng-cloak="true">{{message}}</p>
        </div>
    </div>

    <div  class="news-pro-box" ng-repeat="business in businessDiscoverMap.all()" ng-class="{followed: business.value.isSubscribed()}">
        <div class="news-pro-img"  style="background: url('../images/default_cover.jpg') no-repeat; ">
            <!--<img ng-src="{{business.value.getProfileImage()}}">-->
        </div>
        <div class="dscv-img" style="background: url('{{business.value.getProfileImage()}}') no-repeat;"></div>
        <div class="flow-text" ng-cloak="true">{{ business.value.getFollowerCountWithText() }}</div>
        <div class="flow-text-name"><a ng-href="{{business.value.getLink()}}" ng-cloak="true">{{business.value.getFullName()}}</a></div>
        <div class="flow-text-name flow-text-details" ng-cloak="true">
            {{business.value.getSlogan()}}
        </div>
        <!-- <div class="flow-btn" 
        rg-ringbox="true"
        ringbox-controller="businessFollowController"
        ringbox-target="templates/newsportal/portal-follow.popup.html"
        ringbox-type="remote" 
        ringbox-data="getCatList(business.value,$index)">+ Follow</div> -->
        <div class="flow-btn" ng-if="! business.value.isSubscribed()" rg-click="followPage(business.value, $index)">+ Follow</div>
        <a ng-if="business.value.isSubscribed()" ng-href="{{business.value.getProfileLink()}}">
            <div class="flow-btn">&#x2714; Following</div>
        </a>
    </div>
    <div  class="news-pro-box npb"></div>
    <div  class="news-pro-box npb"></div>
    <div  class="news-pro-box npb"></div>
    <div  class="news-pro-box npb"></div>
</div>
