<div  class="music-mid-bg  mid-width  pro-page-width">
    <div class="middle">
        <!--FORM : if needed-->
        <!-- <rg-media-slider></rg-media-slider> -->
        <div class="music-container">
            <!--<div class="media-slider-wrapper"></div>-->

            <div  class="media-nav">

                <rg-tab-nav></rg-tab-nav>
                <rg-media-search-directive></rg-media-search-directive>
                
            </div>

            <div class="clear"></div>

            <!--Grid view start-->
            <div id="all" class="grid-view active">

                <div class="album-header">
                    <div class="p-relative">
                        <div class="backbtn" onclick="window.history.back(-1)">Back</div>
                        <!--<div class="album-title">{{albumMap.getName()}}</div>-->
                        <div class="ply">
                            <a class="plybtn" ng-show="albumMap.getContents().length()  > 1"
                               class="music-box" rg-ringbox="true" ring-backdrop-close="false" show-close-btn="false" ringbox-controller="RingBoxMediaController" ringbox-type="remote"
                               ringbox-target="templates/partials/notification/media-popup.html" ringbox-data="getMediaData(true)">
                                Play All
                            </a>
                            <a class="plybtn" ng-show="albumMap.getContents().length() > 1" ng-class="{'disable-click': selectedPlaylist.length() == 0}"
                               rg-ringbox="true" ring-backdrop-close="false" show-close-btn="false" ringbox-controller="RingBoxMediaController" ringbox-type="remote"
                               ringbox-target="templates/partials/notification/media-popup.html" ringbox-data="getMediaData(false)">Play Selected</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>

                <ng-repeat ng-repeat="media in albumMap.getContents().all()">
                    <rg-mediaview album="albumMap" media="media.value" select="selectMedia(mediaMap, status)" template-path="templates/media/mediaview.directive.html" ></rg-mediaview>
                </ng-repeat>

                <div class="music-box no-border h-5"></div>
                <div class="music-box no-border h-5"></div>

                <div ng-if="stoploader && albumMap.getContents().length() < 1">
                    <p ><img src="images/music-error.png"></p>
                    <p class="ndp" >No Data Found</p>
                </div>


                <div class="clear"></div>


                <a class="load-more"  rg-click="loadMoreMedia(albumMap.getContents().length())" ng-show="albumMap.getContents().length() > 0 && albumMap.getContents().length() < mediaCount && !loadMoreSong">Load More &raquo;</a>
                <a class="load-more-disabled"  ng-show="!stoploader"> 
                    <span class="load-circle">
                        <span class="ld-cir1 ld-cir"></span>
                        <span class="ld-cir2 ld-cir"></span>
                        <span class="ld-cir3 ld-cir"></span>
                        <span class="ld-cir4 ld-cir"></span>
                        <span class="ld-cir5 ld-cir"></span>
                        <span class="ld-cir6 ld-cir"></span>
                        <span class="ld-cir7 ld-cir"></span>
                        <span class="ld-cir8 ld-cir"></span>
                        <span class="ld-cir9 ld-cir"></span>
                        <span class="ld-cir10 ld-cir"></span>
                        <span class="ld-cir11 ld-cir"></span>
                        <span class="ld-cir12 ld-cir"></span>
                    </span>
                    Loading...</a>
                <div class="clear"></div>
            </div>


            <div class="clear"></div>
            <!--Grid view end-->

        </div>
        <!--form end-->
    </div>
</div>
