
        <div class="chat-body">
            <div class="chat-top-bar">
                <a href="#" class="chat-name"></a>
                <div class="chat-top-sty">
                    <a href="#"><span class="img_sprite timmer-ico"></span></a> 
                    <a ng-click="closeChatBox()"><span class="img_sprite w-h-16 chat-close-ico"></span></a>
                    <a href="#"><span class="icon-minimize"></span></a> 
                </div>
            </div>
            <div class="chat-middle">
                <div class="line">
                                    <div class="line-m">Today</div>
                                </div>
                <div class="clear"></div>
                <div class="cm-box">
                    <!--<img class="chat-img-l chat-img" src="images/pic1.png">-->
                    <div class="chat-l  icon-c-left">
                        <p>What was that???</p> <br/>
                        <div class="t-chat">
                            <p>11.00 PM</p>
                            </div>                
                    </div>
                </div>
                <div class="cm-box c-left">
                    <div class="chat-c chat-bgw">
                        <p>aaa </p>
                        <div class="t-chat">
                            <p>11.00 PM</p>
                            </div> 
                    </div>
                </div>
                <div class="cm-box-r">
                    <div class="chat-r icon-c-right cm-sty">
                        <p>hello.....r u ..</p><br/>  
                        <div class="t-chat">
                            <p>11.00 PM</p>
                            </div>                              
                    </div>
                    <!--<img class="chat-img-r chat-img" src="images/pic1.png">-->
                </div>
                <div class="cm-box-r c-right">
                    <div class="chat-c chat-bgy">
                        <p>hello</p>
                          <div class="t-chat">
                            <p>11.00 PM</p>
                            </div> 
                    </div>
                </div>

            </div>
            <div class="chat-bottom">
                <div class="chat-cam">
                    <span class="chat-ic-sty icon-camera"></span>
                </div>
                <span class="chat-ic-sty chat-area">
                    <textarea name="chat"></textarea> </span>
                <span class="chat-ic-sty img_sprite  icon-emoticon"></span>
            </div>
        </div>
