<div class="news-load" >
    <a class="load-more" ng-show="!isLoading">Load More &raquo;</a>
    <a class="load-more-disabled"  ng-show="isLoading"> 
        <span class="load-circle">
            <span class="ld-cir1 ld-cir"></span>
            <span class="ld-cir2 ld-cir"></span>
            <span class="ld-cir3 ld-cir"></span>
            <span class="ld-cir4 ld-cir"></span>
            <span class="ld-cir5 ld-cir"></span>
            <span class="ld-cir6 ld-cir"></span>
            <span class="ld-cir7 ld-cir"></span>
            <span class="ld-cir8 ld-cir"></span>
            <span class="ld-cir9 ld-cir"></span>
            <span class="ld-cir10 ld-cir"></span>
            <span class="ld-cir11 ld-cir"></span>
            <span class="ld-cir12 ld-cir"></span>
        </span>
        Loading...</a>
</div>

