<div class="fnd-req-box">
	<div class="fnd-req-title">New Friends</div>
	<div class="clear"></div>
	<ul class="friend-req scrollbar-design">
		<li>
			<div class="search-item">
				<div class="left">
					<div class="pic"><img src="images/pro_pic.png"/></div>
					<a href='javascript:void(0);'>Yocary Seguacy </a>
					<p class="common-fnd">50 common friends</p>
				</div>
				<div class="right">
					<p class="">Accept with</p>
					<img src="../images/fr_notice.png"><input class="orange-button" type='button' name='' value='Complite Profile' />
					<img src="../images/fr_notice.png"><input class="orange-button" type='button' name='' value='Chat' />
					<p style="width: 70%;margin: 4px auto 0 auto;">
						<input class="white-button float-left" type='button' name='' value='Reject' />
						<input class="white-button float-right" type='button' name='' value='Later' />
					</p>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</li>
	</ul>
</div>