<div class="c-h-top">
    <div class="c-h-left float-left">
        <ul class="c-h-nav">
            <li class="float-right">
                <!--<a href="#" class="ab-pos">More&nbsp;<span class=" img_sprite icon-down-arrow  w-h-13"></span>&nbsp;&nbsp;</a>-->
                <!--<div class="action">-->
                <!--<a class="feed-line" href="#">Archive</a>-->
                <!--<a class="feed-line" href="#">Archive</a>-->
                <!--<a class="feed-line" href="#">Archive</a>-->
                <!--</div>-->
            </li>
            <li class="float-left">
                <a href="#">Recent</a>
            </li>
            <li class="float-left">
                <!--<a href="#">Requests</a>-->
            </li>

        </ul>
    </div>
    <div class="c-h-right float-left">
        <div class="hover-cart-area width-200 float-left ch-user-name">
            <a class="c-h-u" href="javacript:void(0);" ng-cloak="true">{{ selectedLeftBox.boxTitle}}  </a>
            <!--hover card will be here-->
        </div>

        <ul class="c-h-nav c-h-nav1">
            <!--<li  class="float-right border-right">-->
                <!--<a href="javascript:void(0);" onclick="document.getElementById('se-width').style.width='148px'">-->
                    <!--<i class="icon-search"></i>-->
                    <!--<input id="se-width" type="text" placeholder="Search...">-->
                <!--</a>-->

            <!--</li>-->
            <!--<li class="float-right">-->
                <!--<a href="#" class="ab-pos"><i class="icon-g-settings"></i></a>-->
                <!--<div class="action">-->
                    <!--<a class="feed-line" href="#">Archive</a>-->
                    <!--<a class="feed-line" href="#">Archive</a>-->
                    <!--<a class="feed-line" href="#">Archive</a>-->
                <!--</div>-->
            <!--</li>-->
            <!--<li  class="float-right"><a href="#"><i class="icon-plus-sg"></i>&nbsp;<b>New Message</b></a></li>-->

        </ul>
    </div>
</div>