<div class="fr-menu ng-scope" style="display: block;"><div>
    <div class="img_sprite left-shape-ico  ufr-pro ufr-m">
        <img ng-src="http://image.ringid.com/cloud/uploaded-136/2110065688/pthumb6589371453700017661.jpg" src="http://image.ringid.com/cloud/uploaded-136/2110065688/pthumb6589371453700017661.jpg">
    </div>
    <div class="ufr-info">
        <a ng-href="http://localhost:8080/#/profile/2110065688" class="ng-binding" href="http://localhost:8080/#/profile/2110065688">
            Monalisa
        </a>
        <h2 class="ng-binding">10065688</h2>
        <h2>No Mutual Friends</h2>
    </div>
    <div class="fr-b">
        <a class="friend-btn" > <span class="friend-ico fnd"></span>Friend</a>
    </div>
</div>
</div>