<div ng-controller="FeedAddController" class="status-box">
    <div  class="status-box-header" >
        <span class="img_sprite write-msg"></span>
        <span>Write Post</span>
        <span class="post-val  float-right">
            <a title="Feed Duration"  feed-timeout-menu="" ring-on-option-select="selectedTimeout(item)" selected-value="validity" class="p-ab">
                <span class="img_sprite pst-val-ico"></span>
            </a>
        </span>
    </div>
    <form enctype="multipart/form-data">
        <div style="padding:3px;">
<!--            <div class="float-left" style="position:relative;">
                <div class="thumbnail">
                    <div class="icon-logo-circle pss-logo">
                        <a >  <img class="responsive-all"   ng-src="{{ currentUser.avatar('thumb')}}"></a>
                    </div>
                </div>
            </div>-->
            <div class="post-area-box float-right">
                <div class="style-1">
                    <rg-editor id="post-box-id" editor-content="feedText" new-line="on" adjust-feed-cell="true" placeholder="{{forAdd === 'my' ? 'Share your thoughts...' : 'Write something...'}}" tag-friend="true" max-height="800" style="border: none;"></rg-editor>
                    <rg-url-og-fetcher ng-if="!shouldDisableLink()"
                                       data-fetched-og-info="$parent.ogData"
                                       editor-content="feedText"
                                       show-preview="$parent.ogShowPreview"
                                       loading-data="$parent.ogDataLoading"                        
                                       >
                    </rg-url-og-fetcher>

                    <p ng-if="emotions.length" class="feelings-text mar-left-8">  <span>&mdash; Feeling </span>  <img class="status_emo" ng-src="{{emotions[0].url}}" /> <span class="feel-sty" ng-cloak="true"> {{emotions[0].nm}} <span class="p-relative" ng-click="emotions.length = 0"><i class="p-ab feel img_sprite icon-close-ico w-h-13"></i></span></span></p>
                    <div ng-if="tagList.length">
                        <ul  class="tag-fnd-lst">
                            <span class="tag-with">&mdash; With&nbsp;</span>
                            <li ng-repeat="usr in tagList" ><span class="tag-title" ng-cloak="true">{{::usr.getName()}}</span>&nbsp;<span class="tag-cros" ng-click="removeTag(usr)">X</span></li>
                        </ul>
                    </div>
                    <p ng-if="!!feedLocation.description" class="status-loc-txt " ng-cloak="true">&mdash; {{ feedLocation.description}} <span class=" showpointer p-relative" ng-click="resetFeedLocation()" ><i class="p-ab feel img_sprite icon-close-ico w-h-13"></i></span></p>
					<p ng-if="errorMessage" class="ng-cloak s-error">{{errorMessage}}</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>  
        <div class="clear"></div>
        <div class="tag-wrapper">
            <span class="tag-name"  ng-repeat="usr in tagList" >
                <span class="tag-title"  ng-cloak="true">{{::usr.getName()}}</span>
                <span class="close-ico tagclose" ng-click="removeTag(usr)"></span>
            </span>
            <span class="tag-input"><input name=""  placeholder="Who are you with?"  /></span>
            <span class="clear"></span>
        </div>
        <rg-url-og-preview ng-if="!shouldDisableLink()"
                           og-data="$parent.ogData" edit-mode="true"
                           show-preview="$parent.ogShowPreview" 
                           loading-data="$parent.ogDataLoading" >
        </rg-url-og-preview>
        <div class="status-photo-box">
            <rg-upload upload-type="status" upload-action="" upload-enabled="!shouldDisableMedia()" upload-feed="true"></rg-upload>
            <!--<div class="post-b-ico m-l-5">-->
            <!--<a data-tooltip-post="Add Emoticon" href="javascript:void(0)" class="p-ab">-->
            <!--<span class="emo-ico" rg-emoticon show-sticker="false" clicked="insertEmoji"></span>-->
            <!--</a>-->
            <!--</div>-->
            <div class="post-b-ico">
                <a  data-tooltip-post="Add Feeling" rg-emotion on-select="chooseEmotion(item)"  class="p-ab">
                    <span class="img_sprite status-ico feeling-ico"></span>
                </a>
            </div>
            <div class="post-b-ico">
                <a data-tooltip-post="Tag Friends"  rg-tag-friend="{{::showAddTag}}"  tag-items="tagList" on-select="addTag(item)"  class="p-ab">
                    <span class="img_sprite status-ico tag-f-ico"></span>
                </a>
            </div>
            <!--            <div class="post-b-ico m-l-10">
                            <a data-tooltip-post="Feed Duration"  feed-timeout-menu="" ring-on-option-select="selectedTimeout(item)" selected-value="validity" class="p-ab">
                                <span class="timmer-ico"></span>
                            </a>
                        </div>-->
            <div class="post-b-ico" ng-if="!shouldDisableLocation()">
                <a data-tooltip-post="Add Location" feed-location-menu="" feed-location-menu-on-select="selectedLocation(location)" selected-value="feedLocation" class="p-ab">
                    <span class="img_sprite status-ico location-ico"></span>
                </a>
            </div>

            <div class="float-right pbox-input mar-6-2-0-4">
                <input type="button" ng-disabled="shouldDisableInput()" rg-click="addFeed()"  rg-click-noapply="true" ng-class="{'disable': shouldDisableInput()}"  class="p-btn p-btn-bg float-right" value="Post"/>

            </div>
            <div class="float-right mar-6 prvc-set" ng-if="showPrivacy">

                <a data-tooltip-post="Add Privacy"  rg-dropdown dd-action="setPrivacy" dd-control="privacySet" dd-template="privacyTemplate" class=" p-btn dis-block">
                    <span><i ng-class="privacy.icon"></i> <b ng-cloak="true">{{privacy.text}}</b> <i class="img_sprite w-h-13 icon-ds-arrow"></i></span>
                    <!--<span><i class="icon-g-settings"></i> <b>{{privacy}}</b> <i class="icon-ds-arrow"></i></span>-->

                </a>
            </div>

        </div>
    </form>

    <div class="clear"></div>
    <!--<span class="warning-body"><i class="warning-arrow"></i>Please wait few moment. picture is loading.</span>-->
</div>

<div class="cell" ng-if="noMoreFeed && getFeeds().length === 0" style="margin-left: 0">
    <div class="newsfeed-row" ng-if="noMoreFeed" >
        <p class="not-found">No feed yet!</p>
        <img height="100%" width="100%" src="images/not-found.png" />
    </div>
</div>

