<div class="ptchat-box">
    <div class="pt-topchatbox">
        Message expiration time
       <span class="img_sprite cur-p w-h-16 chat-close-p-ico" ng-click="hideValueBox($event)" ></span>
    </div>
    <div class="pt-middle">
        <table>
            <tbody>

            <tr>
                <td ng-click="selectTimeout($event,5)" ng-class="{'active': timeout<=5}">5</td>
                <td ng-click="selectTimeout($event,10)" ng-class="{'active': timeout==10}">10</td>
                <td ng-click="selectTimeout($event,15)" ng-class="{'active': timeout==15}">15</td>
                <td ng-click="selectTimeout($event,20)" ng-class="{'active': timeout==20}">20</td>
                <td ng-click="selectTimeout($event,25)" ng-class="{'active': timeout==25}">25</td>
                <td ng-click="selectTimeout($event,30)" ng-class="{'active': timeout==30}">30</td>
                <td ng-click="selectTimeout($event,35)" ng-class="{'active': timeout==35}">35</td>
                <td ng-click="selectTimeout($event,40)" ng-class="{'active': timeout==40}">40</td>
                <td ng-click="selectTimeout($event,45)" ng-class="{'active': timeout==45}">45</td>
                <td ng-click="selectTimeout($event,50)" ng-class="{'active': timeout==50}">50</td>
            </tr>
            <tr>
                <td ng-click="selectTimeout($event,55)" ng-class="{'active': timeout==55}">55</td>
                <td ng-click="selectTimeout($event,60)" ng-class="{'active': timeout==60}">60</td>
                <td ng-click="selectTimeout($event,65)" ng-class="{'active': timeout==65}">65</td>
                <td ng-click="selectTimeout($event,70)" ng-class="{'active': timeout==70}">70</td>
                <td ng-click="selectTimeout($event,75)" ng-class="{'active': timeout==75}">75</td>
                <td ng-click="selectTimeout($event,80)" ng-class="{'active': timeout==80}">80</td>
                <td ng-click="selectTimeout($event,85)" ng-class="{'active': timeout==85}">85</td>
                <td ng-click="selectTimeout($event,90)" ng-class="{'active': timeout==90}">90</td>
                <td ng-click="selectTimeout($event,95)" ng-class="{'active': timeout==95}">95</td>
                <td ng-click="selectTimeout($event,100)" ng-class="{'active': timeout==100}">100</td>
            </tr>
            <tr>
                <td ng-click="selectTimeout($event,105)" ng-class="{'active': timeout==105}">105</td>
                <td ng-click="selectTimeout($event,110)" ng-class="{'active': timeout==110}">110</td>
                <td ng-click="selectTimeout($event,115)" ng-class="{'active': timeout==115}">115</td>
                <td ng-click="selectTimeout($event,120)" ng-class="{'active': timeout==120}">120</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
