.w-300{width:300px;}
.about-list{border:0;}
.profile-listing{padding:20px;position:relative;}
.about-list tr th{width:30%;border:0;padding:15px;text-align:left;background-color:#fff;vertical-align:top;}
.about-list tr td{width:70%;border:0;padding:0 15px;}
.about-list tr td a{text-decoration: none;color:#f47727;}
.about-list tr td a:hover{text-decoration: underline;}
.padd-0{padding:0;}
.right-tab{width:calc(100% - 320px);}
ul.left-ico li{list-style: none;height: 34px;padding:15px 0 0 15px;position: relative;margin: 30px 0;}
ul.left-ico li:first-child{margin-top:0;}


ul.left-ico li:before{
    content: '';
    width: 1px;
    height: 70px;
    right: 0;
    top: 0;
    position: absolute;
    display: block;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #ffaf4b 20%, #f77727 40%, #f77727 60%, #ffaf4b 80%, #ffffff 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(20%, #ffaf4b), color-stop(40%, #f77727), color-stop(60%, #f77727), color-stop(80%, #ffaf4b), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #ffffff 0%, #ffaf4b 20%, #f77727 40%, #f77727 60%, #ffaf4b 80%, #ffffff 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #ffaf4b 20%, #f77727 40%, #f77727 60%, #ffaf4b 80%, #ffffff 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #ffaf4b 20%, #f77727 40%, #f77727 60%, #ffaf4b 80%, #ffffff 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #ffaf4b 20%, #f77727 40%, #f77727 60%, #ffaf4b 80%, #ffffff 100%);
}


ul.left-ico li.selected::after{
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(241, 241, 241, 0);
    border-left-color: #f47727;
    border-width: 8px;
}

ul.left-ico li a{width:100%;float:left;}
ul.left-ico li a span.left-ico-bg{
    width: 34px;
    height: 34px;
    float: left;
    font-size: 18px;
    border: 5px solid #ECEBEB;
    border-radius: 50%;
    box-sizing: border-box;
    background: #F77727;
    color: #fff;
    padding: 3px;
    text-align: center;
}
ul.left-ico li a span.txt{
    display: inline-block;
    padding: 8px;
    color: #333;
    float: left;
}